<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="/styles/userlogin.css">
</head>
<body>
  <div class="login-box">
    <h2>Login</h2>
    <% if (message.length > 0) { %>
      <% message.forEach(function(msg) { %>
          <p style="color: red;"> <%= msg %> </p>
      <% }); %>
  <% } %>
  
    <form action="/login" method="post" id="form">
      <div class="user-box">
        <input type="email" name="email" id="email" style="color: #ffff;"/>
        <label>Email</label>
      </div>
      <div class="user-box">
        <input type="password" name="password" id="password" style="color: #ffff"/>
        <label>Password</label>
      </div>
      <div class="submit">
        <button type="submit">Submit</button>
      </div>
      <a href="/register" class="submitt">Go to register</a>
    </form>
  </div>

  <!-- <script>
    document.addEventListener('DOMContentLoaded', function() {
      document.getElementById('form').addEventListener('submit', formvalidate);
    });

    const message = "<%= message %>";
    
  //   function formvalidate(e) {
  //     e.preventDefault();

  //     var email = document.getElementById('email').value;
  //     var password = document.getElementById('password').value;

  //     if (email === "" || password === "") {
  //       alert("All fields are required");
  //       return false;
  //     }

  //     e.target.submit();
  //     return true;
  //   }
  // </script> -->
</body>
</html>
